.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(41, 41, 41, 0.13);
  padding: 20px 0;
}

.img {
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  margin: 0;
  margin-right: 20px;
  max-width: 412px;
}

.leftbox {
  display: flex;
  align-items: center;
}

.rightbox {
  display: flex;
  align-items: center;
}

.price {
  margin: 0 20px;
}

.amountbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  margin-right: 20px;
}

.amount {
  margin: 0 10px;
}

@media (max-width: 700px) {
  .product {
    gap: 10px;
  }

  .text {
    margin: 10px 0;
    font-size: 12px;
  }

  .amount {
    font-size: 14px;
  }

  .price {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .amountbox {
    font-size: 12px;
    margin-right: 5px;
  }
}

@media (max-width: 500px) {
  .product {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  /* .leftbox {
    flex-direction: column;
    align-items: flex-start;
  } */

  .rightbox {
    align-self: flex-end;
    font-size: 12px;
  }

  .img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .pro {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .count {
    margin: 0;
  }
}