.box {
  display: flex;
  gap: 10px;
}

.button {
  margin: 0;
  padding: 5px 10px;
  height: min-content;
  background-color: #fff;
  color: rgba(247, 109, 10, 1);
  border-color: rgba(247, 109, 10, 1);
  box-shadow: 0 0 7px rgb(247 109 10);
  border-radius: 6px;
}

.button:disabled {
  box-shadow: none;
  border: none;
  color: inherit;
}

.form {
  width: 80%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5px;
  align-items: center;
}

.input {
  min-width: 350px;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  margin: 0 0 4px;
}

@media screen and (max-width: 500px) {
  .input {
    min-width: 260px;
  }

  .label {
    font-size: 12px;
  }

  .button {
    padding-top: 0;
    padding-bottom: 0;
  }
}