.list {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  width: 80%;
  row-gap: 5px;
  padding: 0;
  margin: 0 0 20px 20%;
  justify-items: end;
  justify-content: space-between;
  /* grid-auto-flow: dense; */
}

.button {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 20px;
}

.text {
  margin: 0;
  font-weight: normal;
  line-height: 20px;
}