.input {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.inputLabel {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.inputLabelText {
  padding-right: 30px;
  text-align: left;
  flex: 1;
}

.inputField {
  padding: 2px 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 730px) {
  .inputLabel {
    display: block;
    text-align: left;
  }

  .inputLabelText {
    margin-bottom: 10px;
  }

  .inputField {
    width: 100%;
    font-size: 12px;
  }
}