.footer {
  /* border-top: 1px solid rgba(84, 84, 84, 0.7); */
  width: calc(100% - 25% / 5);
  margin: 0 auto 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.copy {
  color: #222;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin: 10px 0 0;
  opacity: 0.7;
  padding: 0;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 10px 0 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.16;
  display: flex;
  min-height: 50px;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 0 0 300px;
}

.link {
  color: inherit;
  text-decoration: none;
  /* font-size: 18px; */
  /* line-height: 129%;
  font-weight: 500; */
  transition: opacity .3s linear;
  position: relative;
  cursor: pointer;
}

.link:hover {
  opacity: .75;
}

@media all and (max-width: 1220px) {
  .footer {
    gap: 30px;
    align-items: start;
  }

  .copy {
    min-height: 30px;
    line-height: 30px;
  }

  .list {
    flex-direction: column;
    gap: 0;
    margin-top: 10px;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .text {
    min-height: 30px;
  }
}

@media all and (max-width: 830px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }

  .container {
    flex: none;
  }
}

@media all and (max-width: 550px) {
  .footer {
    gap: 15px;
  }

  .copy {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 140%; */
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  .text {
    min-height: 22px;
    font-size: 12px;
  }
}

@media all and (max-width: 450px) {
  /* .footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "main nav"  
                          "contacts nav";
    row-gap: 0;
  }*/

  .copy {
    flex: 0 0 95px;
  } 

  .container {
    display: none;
  }

  /* .list {
    grid-area: contacts;
  }

  .nav {
    padding-top: 0;
    padding-left: 5px;
  }

  .nav p {
    min-height: 15px;
  } */

}