.container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px calc(25%/10);
  margin: 0 auto;
}

@media screen and (max-width: 830px) {
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.list {
  display: grid;
  gap: 25px 20px;
  grid-template-columns: repeat(5, calc((100% - 4*20px)/5));
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  /* max-width: 1220px; */
  width: 100%;
}

@media all and (max-width: 830px) {
  .list {
    gap: 10px;
  }
}


@media all and (max-width: 630px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    /* gap: 15px; */
    gap: 5px;
  }
}