.container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px calc(25%/10);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.list {
  display: grid;
  gap: 25px 20px;
  grid-template-columns: repeat(5, calc((100% - 4*20px)/5));
  /* grid-template-columns: repeat(5, min-content); */
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  /* max-width: 1220px; */
  max-width: calc(100vw - 5%);
}

.button {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 20px;
  display: none;
  min-width: 180px;
}

.text {
  margin: 0;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
}


.list_group {
  list-style-type: none;
  /* display: inline-grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
  width: 70%;
  /* row-gap: 5px; */
  padding: 0;
  margin: 0;
  justify-items: end;
  /* justify-content: space-between; */
  /* grid-auto-flow: dense; */
}

.button_group {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 20px;
}

.button_group_active {
  background-color: rgba(247, 109, 10, 0.3);
}

.text_group {
  margin: 0;
  font-weight: normal;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, calc((100% - 3*20px)/4));
  }
}

@media screen and (max-width: 930px) {
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .list {
    grid-template-columns: repeat(3, calc((100% - 2*10px)/3));
    gap: 10px;
  }

}

@media all and (max-width: 660px) {
  .list {
    grid-template-columns: repeat(2, calc((100% - 5px)/2));
  }

  .button {
    display: block;
  }

  .list_group {
    display: none;
  }

  .show {
    display: inline-flex;
    width: 90%;
  }
}

@media all and (max-width: 440px) {
  .list {
    /* grid-template-columns: 210px; */
    grid-template-columns: 100%;

  }
}