.header {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: inherit;
  box-sizing: border-box;
  margin: 15px auto 0;
  padding: 0 calc(25%/10);
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: opacity .3s linear;
  position: relative;
  cursor: pointer;
}

.link:hover {
  opacity: .75;
}

.button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

.button:hover {
  opacity: .75;
}

.bar_hide {
  display: none !important;
}

.bar_show {
  display: flex;
}

.button_hide {
  display: none;
}

.button_show {
  display: flex;
}

.box {
  display: flex;
  gap: 15px;
}

.text {
  margin: 0;
  font-size: 18px;
}

.indent {
  padding-top: 10px;
}

@media screen and (max-width: 1000px) {
  .box_hide {
    display: none !important;
  }
}

@media screen and (max-width: 760px) {
  .header {
    min-height: 40px;
  }

  .indent {
    padding-top: 0;
  }

  .box {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .link_hide {
    display: none !important;
  }
}
