.nav {
  width: 100%;
  margin: 0;
  padding: 10px 15px 0;
  /* border-bottom: 1px solid rgba(84, 84, 84, 0.7); */
}

.nav_desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 760px) {
  .nav_desktop {
    /* display: none; */
    padding: 0;
  }
}